* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/header-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Helvetica;
    background-color: #0f0f11;
    color: #d1d6cf;
    line-height: 1.6;
}
header {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff; /* Off-white color */
    text-shadow: 
        -0.5px -0.5px 0 rgb(184, 7, 131),  
         0.5px -0.5px 0 rgb(16, 171, 130),
        -0.5px  0.5px 0 rgb(184, 7, 131),
         0.5px  0.5px 0 rgb(16, 171, 130); /* Thin black outline */
}
footer p {
    font-size: 0.4em;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #d1d6cf;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 20px;
}